# Local machine - Mac 
*.local
.config/zsh/.zshrc.local

# downloads 
tmux/plugins/
ghostty/themes/

# Neovim plugin/cache folders
nvim/lazy/
nvim/plugged/
nvim/site/
nvim/.cache/

# macos
.DS_Store
.AppleDouble
.LSOverride

# Temp files 
*.swp
*.swo
*.bak
*.tmp

# Environment / secrets
.env
*.env
.env.*

# Cache / compiled
.cache/
dist/
build/
